<!-- indexer::stop -->
<?php if (count($this->items) > 0): ?>
  <nav class="<?= $this->class ?> xarticlenav block"<?= $this->cssID ?><?php if ($this->style): ?> style="<?= $this->style ?>"<?php endif; ?>>
    <ul>
      <?php foreach ($this->items as $item): ?>
        <li>
          <a href="<?= $item['href'] ?>" class="xarticlenavitem" data-id="<?= $item['data-id'] ?>" data-alias="<?= $item['data-alias'] ?>" title="<?= $item['title'] ?>"><?= $item['text'] ?></a>
        </li>
      <?php endforeach; ?>
    </ul>
  </nav>
<?php endif; ?>
<!-- indexer::continue -->